@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>Transportes XPTO</h1>
<p class="lead">Portal desenvolvído para validação do conceito arquitetural da proposta de um sistema de gestão de logística.</p>
<p class="lead">Projeto arquitetural proposto pelo TCC do curso : Especialização em Arquitetura de Software Distribuído.</p>
<p class="lead">Aluno: Marcelo Mangolin Zampereti.</p>
<p><a href="https://www.linkedin.com/in/marcelo-mangolin-06623624" class="btn btn-primary btn-lg" target="_blank">Linkedin Marcelo &raquo;</a></p>

