@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Marcelo Mangolin Zampereti<br />
    <a href="https://www.linkedin.com/in/marcelo-mangolin-06623624">Linkedin Marcelo Mangolin</a><br />
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:mangolinz@hotmail.com">mangolinz@hotmail.com</a><br />
</address>